<nav [class]="scrollY() > 0 || !isFloatingNav()? 'nav-float' : ''">
    <h1 class="site-title">{{navService.siteTitle}}</h1>

    @for (item of navService.menuItems(); track $index) {
    <li [class]="{'nav-item':true, 'nav-active': currentUrl() === item.link}" (click)="onLinkClick(item.link)">
        {{item.label}}
    </li>
    }

    @if(navService.showTryDemoButton()){
    <button class="try-demo" (click)="tryDemo()">
        <span>
            Try Demo
        </span>
    </button>
    }
</nav>