<section class="page">
    @if (screenWidth() > 700) {
    <div class="invoice-details-grid">
        <div class="item-container span-3">
            <span class="item-header">
                customer code:
            </span>
            <br>
            <span>
                {{this.form.value.customerCode}}
            </span>
        </div>
        <div class="item-container span-3">
            <span class="item-header">
                Name:
            </span>
            <br>
            <span>
                {{this.form.value.customerName}}
            </span>
        </div>
        <div class="item-container span-3">
            <span class="item-header">
                Company Name:
            </span>
            <br>
            <span>
                {{this.form.value.companyName}}
            </span>
        </div>
        <div class="item-container span-3">
            <span class="item-header">
                Email:
            </span>
            <br>
            <span>
                {{this.form.value.email}}
            </span>
        </div>
        <div class="item-container flex column justify-center span-2">
            <span class="item-header">
                Sub Total:
            </span>
            <span>
                {{(form.value.subTotal || 0).toLocaleString('en-US', {
                style: 'currency',
                currency: 'USD',
                })}}
            </span>
        </div>
        <div class="item-container flex column justify-center align-center span-2" style="text-align: center;">
            <span class="item-header">
                Paid
            </span>
            <mat-icon [style]="{'color':form.value.paid ? 'green': 'red'}">
                {{form.value.paid ? 'check_circle' : 'cancel'}}
            </mat-icon>
        </div>
        <div class="item-container flex column justify-center align-center span-2" style="text-align: center;">
            <span class="item-header">
                GST
            </span>
            <mat-icon [style]="{'color':form.value.gst ? 'green': 'red'}">
                {{form.value.gst ? 'check_circle' : 'cancel'}}
            </mat-icon>
        </div>

    </div>
    } @else {
    <div style="display: flex; flex-direction: column; gap:5px;">
        <div class="item-container" style="text-align: center;">
            <span class="item-header">
                customer code:
            </span>
            <br>
            <span>
                {{this.form.value.customerCode}}
            </span>
        </div>
        <div class="item-container" style="text-align: center;">
            <span class="item-header">
                Name:
            </span>
            <br>
            <span>
                {{this.form.value.customerName}}
            </span>
        </div>
        <div class="item-container" style="text-align: center;">
            <span class="item-header">
                Company Name:
            </span>
            <br>
            <span>
                {{this.form.value.companyName}}
            </span>
        </div>
        <div class="item-container" style="text-align: center;">
            <span class="item-header">
                Email:
            </span>
            <br>
            <span>
                {{this.form.value.email}}
            </span>
        </div>
        <div class="item-container flex column justify-center" style="text-align: center;">
            <span class="item-header">
                Sub Total:
            </span>
            <span>
                {{(this.form.value.subTotal || 0).toLocaleString('en-US', {
                style: 'currency',
                currency: 'USD',
                })}}
            </span>
        </div>
        <div class="item-container flex column justify-center align-center" style="text-align: center;">
            <span class="item-header">
                Paid
            </span>
            <mat-icon [style]="{'color':this.form.value.paid ? 'green': 'red'}">
                {{this.form.value.paid ? 'check_circle' : 'cancel'}}
            </mat-icon>
        </div>
        <div class="item-container flex column justify-center align-center" style="text-align: center;">
            <span class="item-header">
                GST
            </span>
            <mat-icon [style]="{'color':this.form.value.gst ? 'green': 'red'}">
                {{this.form.value.gst ? 'check_circle' : 'cancel'}}
            </mat-icon>
        </div>

    </div>
    }

    <form [formGroup]="form">
        <!-- Invoice Date Section -->
        <div class="invoice-input-section">
            <mat-form-field appearance="outline">
                <mat-label>Invoice Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="invoiceDate"
                    (dateChange)="updateInvoiceDate($event)" placeholder="dd/mm/yyyy">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-slide-toggle [checked]="invoice()?.gst" style="position: relative; top: 10px;"
                (change)="setGst($event)">
                {{
                invoice()?.gst ? "GST" : "No GST"
                }}</mat-slide-toggle>
        </div>

        <!-- Line Items Section -->
        <div class="line-items-section">
            <h2>Line Items</h2>

            @for (item of invoice()?.lineItems; track $index) {
            <!-- Existing Line Items -->
            <div class="line-item-row">
                <mat-form-field appearance="outline">
                    <input matInput [value]="item.description" (input)="updateLineItem($index, 'description', $event)">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <input matInput type="number" [value]="item.quantity"
                        (input)="updateLineItem($index, 'quantity', $event)" min="1">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <input matInput type="number" [value]="item.unitPrice"
                        (input)="updateLineItem($index, 'unitPrice', $event)" step="0.01" min="0">
                </mat-form-field>

                <span class="total-amount">{{(item.quantity * item.unitPrice).toLocaleString('en-US', {
                    style: 'currency',
                    currency: 'USD',
                    })}}</span>

                <div class="actions">
                    <button mat-icon-button color="warn" (click)="removeLineItem($index)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            }

            <div class="save-section">
                <button mat-raised-button color="primary" class="btn-secondary flex justify-center align-center"
                    style="position: relative;" (click)="addLineItem()">
                    <mat-icon>add</mat-icon>
                    <span style="position: relative; bottom: 2px;">
                        Add Item
                    </span>
                </button>
            </div>


        </div>

        <!-- Save Button Section -->
        <div class="add-line-item-section">
            <button style="position: relative;" mat-raised-button color="primary" class="btn" (click)="saveInvoice()">
                <mat-icon>save</mat-icon>
                <span style="position: relative; bottom: 6px;">
                    Create Invoice
                </span>
            </button>
        </div>

    </form>

</section>